* {
    background-color: #738276;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    padding-right: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #353839;
    color: #738276;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: #353839;

    color:#8f9779 ;
}



.header h1::after {
    background-image: url(https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Fmobile%2F000%2F013%2F564%2Fdoge.jpg);
    background-size: cover;
    display: inline-block;
    width: 75px; 
    height: 50px;
    content:"";
    
    
}


.header div {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    
    
}

.header ul {
   height: 70px;
    display: flex;
    flex: 0 0 35%;
    justify-content: center;
    align-items: center;
    padding: 0%;
    background-color: #8f9779 ;
    
    
}

.header ul li {
    display: inline-block;
    margin: 10px;
    
    text-align: center;
   
}

 a {
    background-color: #8f9779;
    color: #353839;
}

#aboutme {
    height: 200px;
    display: block;
    margin: 15px;
    border: solid 10px;
    border-color: #353839;
    background-image: linear-gradient(to top, #8f9779,#738276);
}

#aboutme h2 {
    text-align: center;
    text-decoration: underline;
    color: #353839;
    background-color: transparent;
    margin-right: 25px;
    
}

#worktab {
    display: flex;
    margin-right: 15px;
    
    
}

#worktab h2 {
    
    flex: 0 0 20%;
    border-right: 5px #353839 solid;
    margin: 20px;
    text-align: right;
    color: #353839;
   padding-right: 20px;
}

#worktab div{
flex: 0 0 75%;
margin: 15px;

flex-direction: row-reverse;

}



#worktab h3 {
    display: inline-block;
    background-color: #353839;
    color: #738276;
    margin: 0;
    padding: 4px;
    font-size: 85%;
}



#portbox {
    display: flex;
    border: 5px #353839 solid;
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.studyguide {
    flex-basis: 200%;
    background-image: url(./images/codepic.jpg);
    background-size: cover;
    
}

.firstdebug {
    background-image: url(./images/Horiseonpic.png);
    background-size: cover;
    
}



.footer {

    padding: 30px;
   background-color: #353839;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer div {
    display: block;
    background-color: #353839;
    width: 100%;
}

.footer ul {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8f9779 ;
}

.footer ul li {
    display: inline-block;
    margin: 10px;
    
    text-align: center;
}